.display-1 {
	font-size: calc(8 * 1.6rem);
	font-weight: 100;
}

.display-2 {
	font-size: calc(7 * 1.6rem);
	font-weight: 100;
}

.display-3 {
	font-size: calc(6 * 1.6rem);
	font-weight: 100;
}

.display-4 {
	font-size: calc(5 * 1.6rem);
	font-weight: 100;
}

.display-5 {
	font-size: calc(4 * 1.6rem);
	font-weight: 100;
}

.display-6 {
	font-size: calc(3 * 1.6rem);
	font-weight: 100;
}

.text-center {
	display: flex;
	justify-content: center;
}