// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Colors
/*
$color-primary-dark: #03045e;
$color-primary: #0077b6;
$color-primary-light: #00b4d8;
*/
$color-primary: #fc9905;

$color-secondary: #393842;

$color-dark: #1a1918;
$color-grey-light: #eaeaea;
$color-light: #fcf8f2;

$color-muted: #767676;

$color-danger: #e80909;

// Box shadows
$box-shadow-sm: 0 0 3px 0 rgba(0, 0, 0, .5);
$box-shadow-md: 0 0 7px 0 rgba(0, 0, 0, .5);
$box-shadow-lg: 0 0 11px 0 rgba(0, 0, 0, .5);

// Aside width
$width-aside: 24rem;