{% extends 'base.html.twig' %}

{% block title %} - Nie znaleziono strony{% endblock %}

{% block main %}
	<section class="section center">
		<h2 class="section__header display-1">404</h2>
		<p class="text-center">Nie znaleziono strony</p>
	</section>
{% endblock %}
